@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');


/* Общие стили */

body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    background-color: #1c1c1c;
    color: #fff;
}


a {
    color: #fff;
    text-decoration: none;
}

p {
    margin: 0;
}

p + p {
    margin-top: 15px;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 500;
    margin: 0;
}

.container {
    box-sizing: border-box;

    max-width: 1170px;
    margin-left: auto;
    margin-right: auto;
    padding: 0 15px;
}

.btn {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 165px;
    height: 50px;

    font-weight: 500;
    font-size: 16px;
    text-transform: uppercase;  

    background: #F6762C;
    border-radius: 5px;

    transition: opacity 0.3s;

}

.btn:hover {
    opacity: 0.8;
}

.btn--small {
    width: 141px;
    height: 39px;
    font-size: 12px;
}


/* Шапка */

.header {
    padding: 25px 0;
}

.header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
} 

.header__logo {

}

.header__nav {

}

.header__list {
    display: flex;
    gap: 30px;
}

.header__nav a {
    font-size: 14px;
    opacity: 0.7;
    transition: opacity 0.3s;
}

.header__nav a.active {
    font-size: 14px;
    opacity: 1;
}

.header__nav a:hover {
    opacity: 0.9;
}




.main {

}


/* Приветственная секция */

.welcome {
    box-sizing: border-box;
    min-height: 100vh;

    margin-top: -100px;
    padding: 240px 0;

    background-image: url("./images/welcome-bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.welcome__text {
    width: 550px;
}

.welcome__subtitle {
    margin-bottom: 7px;
    font-size: 14px;
    letter-spacing: 0.1em;
}

.welcome__title {
    font-size: 58px;
}

.welcome__desc {
    margin: 40px 0;
    font-weight: 400;
    font-size: 18px;
    opacity: 0.7;
}




/* Список еды */

.food-list {
   padding: 100px 0;
}

.food-list .container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 40px 10px;
}

.food-list__card {
    width: 260px;

    overflow: hidden;
    text-align: center;

    background: #312F30;
    border-radius: 10px;
}

.food-list__img {
    width: 100%;
    height: 175px;
    object-fit: cover;
}

.food-list__text-wrapper {
    padding: 30px 20px;
}

.food-list__title {
    font-style: 20px;
    margin-bottom: 13px;
}

.food-list__desc {
font-size: 16px;
opacity: 0.7;

}

/* Order */

.order {
    background-color: #312F30;
    padding: 60px 0;
}

.order .container {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding-right: 90px;
}

.order__img {
    min-width: 470px;
}

.order__text {
    max-width: 360px;
}

.order__title {
    margin-bottom: 25px;
    font-size: 44px;
}

.order__desc {
    margin-bottom: 15px;
    opacity: 0.7;
}

.order__price {
    font-weight: 500;
    font-size: 20px;
    letter-spacing: 0.1em;
    color: #F6762C;
}

.order__old-price {
    font-weight: 500;
    letter-spacing: 0.1em;
    text-decoration-line: line-through;
    color: #F6762C;
    opacity: 0.5;
}

.order__price + .order__price {
    margin-left: 3px;
}

.order .btn {
    margin-top: 10px;
}




.product {
    padding: 150px 0;
}

.product .container {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
}

.product__card {
    box-sizing: border-box;

    width: 555px;
    min-height: 300px;

    padding: 60px 30px 60px 290px;

    background-color: #402b28;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.product__card:nth-child(even) {
    padding-left: 30px;
    padding-right: 290px;
}

.product__title {
    margin-bottom: 20px;
    font-size: 30px;
}

.product__desc {
    margin-bottom: 10px;
    font-weight: 400;
    opacity: 0.7;
}

.product__price {
    font-weight: 500;
    letter-spacing: 0.1em;
    color: #F6762C;
}

.product__price + .product__price {
    margin-left: 5px;
}

.product__price--old {
    text-decoration-line: line-through;
    opacity: 0.5;
}

.product .btn {
    margin-top: 10px;
}

.card-queen {
    background-image: url(./images/product-1.jpg);
}

.card-hut {
    background-image: url(./images/product-2.jpg);
}

.card-king {
    background-image: url(./images/product-3.jpg);
}

.card-papa {
    background-image: url(./images/product-4.jpg);
}



/* Feedback */

.feedback {
    padding-bottom: 200px;
}

.feedback .container {
    display: flex;
    align-items: center;
    justify-content: space-between;

    max-width: 880px;
}

.feedback__img {

}

.feedback__text {
    margin: 0;
    width: 370px;
    text-align: center;

    display: flex;
    flex-direction: column;
}

.feedback__text::before {
    content:url(./images/icons/quote.svg);
}

.feedback__desc {
    opacity: 0.7;
    margin: 30px 0;

}

.feedback__author {
    font-weight: 500;
    font-size: 24px;
    font-style: normal;
}
.feedback__subauthor {
    font-weight: 500;
    font-size: 12px;
    opacity: 0.7;

    display: block
}

/* Download */
.download { 
    padding: 60px 0;
    background: #312F30;
}

.download .container {
    display: flex;
    justify-content: space-around;
}

.download__title {
    font-weight: 500;
    font-size: 40px;
}


/* Footer */

.footer {
    padding: 120px 0;
}

.footer a {
    font-size: 12px;
    color: rgba(255, 255, 255, 0.8);
    transition: color 0.3s;
}
.footer a:hover {
    color:rgba(255, 255, 255, 0.9);
}

.footer .footer__title {
    font-weight: 500;
    font-size: 16px;
    color: #fff;
    display: inline-block;
    margin-bottom: 15px;
}

.footer .container {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-areas: "contacts nav socials";
}

.footer__contacts {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.footer__logo {
    width: 70px;
    margin-bottom: 20px;
}

.footer__link {
    display: flex;
    align-items: center;
    gap: 5px;
}

.footer__link + .footer__link {
    margin-top: 10px;
}

.footer__link::before {
    content: url("./images/icons/mail.svg");

    height: 12px;
    width: 12px;
}

.footer__link-mail::before {
    content: url("./images/icons/mail.svg");
}

.footer__link-web::before {
    content: url("./images/icons/global.svg");
}

.footer__nav {
    
}

.footer__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.footer__list-title {
    
}

.footer__inner-list {
    
}

.footer__list-item + .footer__list-item {
    margin-top: 15px;
}

.footer__socials {
    
}

.footer__socials-icons {
    
}

.footer__socials-link {
    margin-left: 2px;
}